<header class="white" style="position: relative;">
   <div class="hgroup-theme-image">
     <div class="theme-image"><p class="top-line"></p></div>
   </div>
   <div class="static-title">
     <h2>What is BahrainHub?</h2>
     <ul class="network-links">
       <li><a class="facebook" target="_blank" href="http://facebook.com/BahrainHub"></a></li>
       <li><a class="twitter" target="_blank" href="http://twitter.com/BahrainHub"></a></li>
     </ul>
   </div>
</header>
<%= image_tag 'about-header-image.png', :style => 'display: block; width: 400px; margin: 0 auto -100px auto;' %>
<div class="static-container">
  <ul class="about-list">
    <li class="static-sec">
      <h3 class="short-title about">About</h3>
      <p class="static-sec-text">
        نبذة عن الموقع<br/>
        بحرين هاب هي خدمة الكترونية تجمع الصور و الفيديوهات و المعلومات من جميع أنحاء الإنترنت التي تثبت انتهاكات حقوق الشعب البحريني<br/>
        نوصي باستخدام <a href="http://www.torproject.org/" target="_blank">برنامج تور</a> لتصفح الموقع، خصوصاً إذا قامت الحكومة بحجبه<br/><br/>
        BahrainHub is a service that gathers information from throughout the web about the ongoing rights violations throughout Bahrain.<br/>
        Anyone can help curate information that mostly consists of evidence of abuse.<br/>
        We recommend you use <a href="http://www.torproject.org/" target="_blank">Tor</a> to browse through the site.
      </p>
    </li>
    <li class="static-sec">
      <h3 class="short-title people">People</h3>
      <p class="static-sec-text">BahrainHub is a project by <a href="http://www.mideastyouth.com/">MideastYouth.com</a>, an independent grassroots network whose mission is to amplify diverse and progressive voices advocating for change throughout the Middle East and North Africa using digital media.</p>
    </li>
    <li class="static-sec">
      <h3 class="short-title funding">Funding</h3>
      <p class="static-sec-text">BahrainHub is entirely self-funded, and relies on donations of time and effort by dedicated volunteers. We welcome socially conscious investors worldwide.</p>
    </li>
    <li class="static-sec">
      <h3 class="short-title contact">Contact</h3>
      <p class="static-sec-text">For more information, contact the founder Esra'a Al Shafei via <a href="mailto:director@mideastyouth.com">director@mideastyouth.com</a></p>
    </li>
  </ul>
</div>
