<div class="voice">
  <div class="panel-container" data-hansel-component-id="sidebar">
    <%= render :partial => 'shared/user_menu' %>
    <div class="voice-search">

        <input class="search" placeholder="Search" type="text" >
        <span class="clear-search"></span>

      <div class="search-divider"></div>
      <ul>
        <li class="mapit">
          <a class="map-btn"></a>
          <div class="tooltip">
            <div class="tooltip-positioner">
              <p class="tooltip-arrow"><span></span></p>
              <p class="media-type-info">
                <strong class="media-type-title">Show Voices on the map.</strong>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div id="scrollpane">
      <div class="searchable">
        <% cache('aside_menu_bar') do %>
          <% unless @cities_villages.empty? %>
            <div class="voice-sec">
              <h2>Cities & Villages - المدن و القرى</h2>
              <span class="accordion">more</span>
            </div>
            <ul class="voice-feature">
              <%= render :partial => 'voices/voices', :object => @cities_villages.order('created_at desc') %>
            </ul>
          <% end %>
          <% unless @media_coverage.empty? %>
            <div class="voice-sec">
              <h2>Media Coverage - التغطية الإعلامية</h2>
              <span class="accordion">more</span>
            </div>
            <ul class="voice-feature">
              <%= render :partial => 'voices/voices', :object => @media_coverage.order('created_at desc') %>
            </ul>
          <% end %>
          <% unless @archived_voices.empty? %>
            <div class="voice-sec">
              <h2>Archived Voices</h2>
              <span class="accordion">more</span>
            </div>
            <ul class="voice-all">
              <%= render :partial => 'voices/voices', :object => @archived_voices %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<p class="tab-controller"></p>
