<div class= "create-voice" data-hansel-component-id="login-signup">
  <ul>
    <li class="addVoice">
      <%= link_to 'عن الموقع', about_path, :class => 'button voicelogin' %>
    </li>
  </ul>
</div>
